# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
fasta3=36.3.8=hec16e2b_7
iqtree=2.2.5=h21ec9f0_0
libgcc-ng=13.2.0=h807b86a_1
libgomp=13.2.0=h807b86a_1
libstdcxx-ng=13.2.0=h7e041cc_2
libzlib=1.2.13=hd590300_5
mafft=7.520=h031d066_2
